.class1{
    background-color: aqua;
    margin:30px;
    padding:10px;
}
.class2{
    background-color:pink;
    margin:20px;
    padding:10px;
}

p{
    color:red;
}


.companytwo{
    color:green;
    font-size:30px;
}
.companyone{
    color:green;
    font-size:30px;
}